/* reset margin, padding */

body {
    margin: 0 !important;
    padding: 0 !important;
}



.first-class {
    color: green;
    border: 1px solid red;
}


#secondID {
    color: red;
}


#thirdID {
    font-size: 10px;
}

.imgClass {
    height: 400px;
    width: 400px;
}